.menuContainer{
    width: 200px;
    border-right: 1px solid #a8a7a7;
}
.menuicon{
    cursor: pointer;
    margin-right: 6px;
}
.minmenuContainerShow{
    width: 40px;
    border-right: 1px solid #a8a7a7;
}
.menuContainerHide{
    border-right: 1px solid #a8a7a7;
    animation:closeMenu 250ms;
    animation-timing-function: linear;
}
.menuContainerShow{
    border-right: 1px solid #a8a7a7;
    animation:openMenu 250ms;
    animation-timing-function: linear;
}
@keyframes openMenu {
    0% {
        width: 40px;
    }
    20% {
        width: 60px;
    }
    50% {
        width: 100px;
    }
    100% {
        width: 200px;
    }
}
@keyframes closeMenu {
    0% {
        width: 200px;
    }
    20% {
        width: 170px;
    }
    50% {
        width: 130px;
    }
    100% {
        width: 40px;
    }
}